RewriteEngine On

# Перенаправляем все запросы на index.php, за исключением существующих файлов и директорий
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
